@model System.Data.DataTable

@{

    Layout = "~/Views/Shared/AdminDashboardLayout.cshtml";
    ViewBag.Title = "AdminDoctorCategory";
}
    <div style=" margin-left:2%;">
        <br />
        <center>  <h2>Doctors Category</h2> </center>
        <hr />
        <br />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" type="text/css" />

        <link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all" />




        <div class="my-3" style="display:flex;justify-content:space-around;">
            <div>
                <form class="form-inline" action="AdminDoctorCategory" method="get">
                    <input class="form-control" style="width:300px;border:none;" type="text" name="searchString" placeholder="Search Doctors Category" />
                    <button class="btn btn-primary" type="submit">
                        <i class="zmdi zmdi-search"></i>
                    </button>
                </form>
            </div>

        </div>

        <center>
        <div class="table-responsive ">
            <table id="example" class=" table table-hover table-fixed table-striped border-dark w-auto table1" style="background-color: white;">

                <thead class="thead-dark">
                    <tr>

                        <th> ID </th>
                        <th> Doctor ID </th>
                        <th> Category  </th>

                    </tr>
                </thead>


                @for (int i = 0; i < Model.Rows.Count; i++)
                {


                    <tbody>
                        <tr>
                            <td>@Model.Rows[i][2]</td>
                            <td>@Model.Rows[i][0]</td>
                            <td>@Model.Rows[i][1]</td>


                        </tr>
                    </tbody>


                }


            </table>

        </div>

        </center>

    </div>


<style>

    .table-responsive {
        width: 320px;
        height: 550px;
        font-size: 12px;
    }

    thead tr:first-child th {
        position: sticky;
        top: 0;
    }
</style>
