
@model System.Data.DataTable
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CategoryList</title>
</head>
<body>
    <div class="list-group col-md-2 ">
        <a href="@Url.Action("Index","Doctor")" class="list-group-item">View All</a>
        @for (int i = 0; i < Model.Rows.Count; i++)
        {

            using (Html.BeginForm("CategoryIndex", "Doctor", FormMethod.Get))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="Category" value="@Model.Rows[i][0]" />
                <button type="submit" class="list-group-item">@Model.Rows[i][0]</button>

            }

        }
    </div>
</body>
</html>



