
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h3 class="heading text-center"><b> Forgot Password </b></h3>


@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        <div class="text-success text-center">
            @ViewBag.Message
        </div>
        <div class="form-group col-md-12">
            <label class="control-label col-md-4">Email ID</label>
            @Html.TextBox("EmailID", "", new { @class = "form-control" })
        </div>
        <div class="form-group">
            <div class="text-center">
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>
        </div>
    </div>
}