body {
    width:100%;

}

@media only screen and (min-width: 800px) {
    #faq {
        border-right: 2px solid #736598;
    }
    /*body{
        background-color:black !important;
    }*/
}
    @media only screen and (max-width: 799px) {
        #faq {
            border-bottom: 2px solid #736598;
        }
    }